
/* Universal Styles */

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 16px;
}

/* Header Navigation Styles */

header{
    background-color: #000;
    padding: 1rem;
}

header nav ul{
    display: grid;
    background-color: #000;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

header nav ul li{
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: serif
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover{
    text-decoration: underline;
}

.banner{
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    justify-items: center;
    align-items: center;
    background-image: url('../images/hogwartsletter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
}

.banner h1{
    color: #FFF;
    font-size: 4rem;
    grid-area: 1 / 1 / 2 / 2;
}

.banner p{
    color: #FFF;
    font-size: 2rem;
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
}

.wizarding-grid {
    display: grid;
    gap: 2rem;
    background-color: #000;
    padding-top: 4rem;
}

.wizarding-item {
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: 1.5rem;
    align-items: center;
}

.wizarding-item img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.wizarding-card {
    display: block;
    text-align: center;
}

.wizarding-card h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #FFF;
}

.wizarding-card p{
    font-size: 1.5rem;
    color: #FFF;
}

.wizarding-card button{
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

.wizarding-card button:hover{
    background-color: #767676;
    padding: 2.1rem;
    font-size: 1.3rem;
}

footer{
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}

footer a{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 740px) {
    .banner{
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 30rem;
    }

    .banner h1{
        font-size: 3rem;
    }

    .banner p{
        font-size: 1.7rem;
    }
    
    .wizarding-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wizarding-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wizarding-card{
        position: static;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        padding: 1rem 0;
        width: 30rem;
    }